[class^=col] {
    background-color: #006CFA;
    height: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.space {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.green {
    background-color: green;
    border: 1px solid #006CFA;
}

.space-between {
    margin: 1.5rem;
}

.start {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.flex-column-middle {
    display: flex;
    align-items: center;
}

.flex-column-end {
    display: flex;
    align-items: flex-end;
}

.more-space {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}